<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <contextName>obis-schema-extractor</contextName>

    <property name="defaultPattern" value="%d{ISO8601} %5p [%t] [%c{3}] [%X{ipAddress}:%X{user}]: %m%n" />

    <!-- Console appender configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <!-- File appender configuration -->
    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/obis-extractor.log</File>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10000KB</MaxFileSize>
        </triggeringPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>50</maxIndex>
            <FileNamePattern>../logs/obis-extractor.%i.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <logger name="lv.lumii.obis.schema.services.SparqlEndpointProcessor" level="INFO" additivity="false">
        <appender-ref ref="LOGFILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGFILE"/>
    </root>

</configuration>